.body {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-left: 50px;
  padding-right: 49px;
  padding-top: 93px;
  padding-bottom: 92px;
}

.header__logo {
  display: block;
  width: 136.11px;
  margin-left: 2px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
  padding-left: 0;
  font-style: normal;
}

.header__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__address {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  max-width: 240px;
  justify-self: end;
  list-style: none;
  font-style: normal;
}

.address_link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: px;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 0.3em;
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  z-index: 2;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.aligned-text {
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
  margin-top: 7px;
  margin-left: 2px;
}

.aligned-text_right {
  text-align: end;
  margin-top: 14px;
  padding-left: 614px;
}

.cover__description {
  display: flex;
  margin-top: 107px;
  border-width: 1px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 2;
}

.cover__description-text {
  word-spacing: 18.6px;
  margin-top: 13px;
}

.bet-button {
  padding: 0;
  border: 1px solid;
  background-color: transparent;
  width: 256px;
  height: 51px;
  border-color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.lots_header {
  display: block;
  padding-top: 183px;
  padding-left: 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.list {
  gap: 25px;
  margin-left: 24px;
  margin-top: 31px;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  z-index: 2;
}

.card {
  width: 334px;
  min-height: 596px;
  color: rgba(255, 255, 255, 1);
  background-size: cover;
  background-position: center;
}

a,
article {
  height: 100%;
}

.card_link {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  text-decoration: none;
}

.card_description {
  text-decoration: none;
  text-decoration-line: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.more {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  margin-left: 64px;
  margin-top: 30px;
  border-bottom: 1px solid;
  text-decoration: none;
}

.about {
  padding-left: 71px;
  margin-top: 118px;
  display: grid;
  grid-template-columns: 284px 1fr;
}

.about__logo {
  background-color: black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  margin-top: 35px;
}

.about__logo-image {
  z-index: 1;
  width: 148px;
  margin-top: 64px;
  margin-left: 47px;
}

.about__description {
  margin-top: 140px;
  margin-left: 28px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.upper__paragraph {
  margin-top: 104px;
  max-width: 688px;
}

.paragraph {
  margin-top: 24px;
  max-width: 693px;
}

.footer {
  display: grid;
  grid-template-columns: 264.57px 168.9px 240px;
  margin-top: 180px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  min-height: 180px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 23px;
  font-style: normal;
}

.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__address {
  max-width: 264.57px;
  justify-self: center;
  list-style: none;
  font-style: normal;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  list-style: none;
}

.no_underline {
  text-decoration: none;
}

.address {
  margin-left: 1px;
}
